
.my-container {
  max-width: 100%;
  margin-left:1%;
  margin-right: 1%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9
}

.section-container {
    display: flex;
    gap: 20px;
}

.pacientes-section {
    flex: 1;
    background-color: #f9f9f9
}

.pacientes-section h4 {
  font-size: 1.0rem;
  margin-bottom: 10px;
  
}


.tratamientos-section {
    flex: 1;
}

body {background-color: #ffffff ; /* usar '!important' para que haga efecto*/
}


h1 {
  color: #199ccc;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}


h2 {
  color: #199ccc;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

 li {
  color: #1977cc;
}

h6 {
  color:  #1977cc;
}
 p {
    color:   #1977cc;
    font-size: 2.5rem;
    font-weight: bold;
}

 a {color:   #1977cc
  
}

.nav-link {color: #1977cc;
          font-weight: bold;
}

.align-right {
  margin-left: auto;
}

.lead {
  color:   #000000 !important;
  font-size: 22px !important; 
}

.jumbotron { --bs-border-style: !important;
       background-color: #c0d0d7 !important;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 18rem;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.card h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
 
}

.card-body {
  padding: 10px;
}

.card-body ul {
  padding-left: 0;
}

.card-body li {
  margin-bottom: 5px;
}

.card h4 a {
  color: #199ccc;
  text-decoration: none;
  
}

.card h4 a:hover {
  text-decoration: underline;
}

p {
  text-align: center;
}
a {
  color: #199ccc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Formato de navbar */


#navbar {background-color:#c0d0d7  ;
}
.separator-link {
  border-right: 3px solid #f9f9f9; /* Ejemplo: línea vertical como separador */
  padding-right: 10px; /* Ejemplo: espaciado entre enlaces */
}

.separator-link:last-child {
  border-right: none; /* Remover el separador en el último enlace */
}



/* Formato de listas de items*/



.list-group {
  width: 100%;
  max-width: 460px;
  margin-inline: 1.0rem;
  display:flex;
  flex-wrap: nowrap;
 
  
}

.form-check-input:checked + .form-checked-content {
  opacity: .5;
}

.form-check-input-placeholder {
  border-style: dashed;
}
[contenteditable]:focus {
  outline: 0;
}


.list-group-checkable .list-group-item {  /* Este es cuadro y el título*/
  cursor: pointer;
  border: 3px solid #ccc;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  
}

.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.list-group-item-check:hover + .list-group-item {
  background-color: var(--bs-secondary-bg);
}
.list-group-item-check:checked + .list-group-item {
  color: rgb(4, 96, 235);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.list-group-item-check[disabled] + .list-group-item,
.list-group-item-check:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}


/* Formato de listas de Forms (planillas) */

.model-form {
  margin: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

.model-form label {
  color: #199ccc;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: left;

} 


.model-form p {
  color: #199ccc;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: left;
}

.model-form input[type="text"],
.model-form textarea {
  width: 40%;
  padding: 1px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.model-form input[type="number"] {
  width: 22%;
  padding: 1px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.model-form input[type="number"][name="Número_de_orden"]{
  width: 7%;
  padding: 1px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;

}

.model-form select {
  width: 15%;
  font-size: 20px;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.model-form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.model-form button:hover {
  background-color: #45a049;
}


.model-form-cobranza {
  margin: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

.model-form-cobranza label {
  color: #199ccc;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: left;

} 


.model-form-cobranza p {
  color: #199ccc;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: left;
}

.model-form-cobranza input[type="text"],
.model-form-cobranza textarea {
  width: 40%;
  padding: 1px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.model-form-cobranza input[type="number"] {
  width: 15%;
  padding: 1px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.model-form-cobranza input[type="number"][name="Número_de_comprobante"]{
  width: 9%;
  padding: 1px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;

}

.model-form-cobranza select {
  width: 8%;
  font-size: 20px;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.model-form-cobranza button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.model-form button:hover {
  background-color: #45a049;
}


.model-form-registro {
  margin: 20px;
  padding: 10px;
  width: 80%;
  background-color: #f2f2f2;
  border: 1px solid #ccc;

  align-self: center;
 
}

.model-form-registro label {
  color: #199ccc;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: left;

} 


.model-form-registro p {
  color: #199ccc;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: left;
}

.model-form-registro input[type="text"],
.model-form-registro textarea {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.model-form-registro span[class="helptext"] {
 
  font-size: 15px;
  font-weight:500;
  margin-bottom: 0px;
  text-align: left;
}
.model-form-registro button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.model-form button:hover {
  background-color: #45a049;
}
/*-------------------------------------
--------PRUEBA-----------------*/

.content {
    padding: 30px;
    background: #1977cc;
    border-radius: 4px;
    color: #fff;
  }
  
.content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
  }
  
.content p {
    margin-bottom: 30px;
  }
  
.content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
  }
  
.content .more-btn i {
    font-size: 14px;
  }
  
.content .more-btn:hover {
    color: #1977cc;
    background: #fff;
  }
  
  .icon-boxes .icon-box {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
  }
  
  .icon-boxes .icon-box i {
    font-size: 40px;
    color: #1977cc;
    margin-bottom: 30px;
  }
  
  .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
  }
  
  .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484;
  }
  
