asgiref==3.6.0
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
dj-database-url==2.0.0
Django==4.2
django-bootstrap4==23.1
django-heroku==0.3.1
fonttools==4.39.4
gunicorn==20.1.0
idna==3.4
kiwisolver==1.4.4
lxml==4.9.2
packaging==23.1
psycopg2==2.9.6
psycopg2-binary==2.9.6
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.3
typing_extensions==4.6.2
tzdata==2023.3
urllib3==2.0.2
whitenoise==6.4.0
