{% extends "Cargas/base.html" %}
{% block content %}
<p>Editar un presupuesto:</p>
    <form action="{% url 'Cargas:editar_presupuestos' número.Número_de_orden %}" method='post' class="model-form">
        {% csrf_token %}
        <p>
            {{ form2.particular.label_tag }} {{ form2.particular }}
        </p>  
        <p> <!---Muestra los campos del modelo a llenar en forma de párrafos y en orden pesonalizado-->
            {{ form.Paciente_Dni.label_tag }} {{ form.Paciente_Dni }}
        </p>
        <p>
            {{ form.Número_de_orden.label_tag }} {{ form.Número_de_orden }}
        </p>
            
        <p>
            {{ form.Tratamiento_1.label_tag }} {{ form.Tratamiento_1 }}
        </p>
        <p>
            {{ form.Tratamiento_2.label_tag }} {{ form.Tratamiento_2 }}
        </p>
        <p>
            {{ form.Tratamiento_3.label_tag }} {{ form.Tratamiento_3 }}
        </p>
        <p>
            {{ form.Monto.label_tag }} {{ form.Monto }}
        </p>  
        <button name="submit">Guardar cambios</button>
    </form>
{% endblock content %}