<!--Este archivo de la de formato específico a la página Home -->

{% extends "Cargas/base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-6">App Odonto</h1>    

        <p class="lead">Este sistema de gestión ayuda a llevar el registro general 
            de los tratamientos (Pacientes, Historia clínica, Presupuestos, Cobranzas).</p>
        
        <a class="btn btn-lg btn-primary" role="button" onclick="window.location='{% url 'Usuarios:registro' %}'">
            Registrarse &raquo;</a>
    </div>   
{% endblock content %}