{% extends "Cargas/base.html" %}
{% block content %}
<div style="display: flex; ">
  <div style="flex: 1; ">
    <h2>Presupuestos</h2>

    <h4 style="font-size: 1.2rem"><a style="color: #8e9294;font-weight: bold;margin-left: 105px" href="{% url 'Cargas:carga_presupuestos' %}">Agregar presupuesto</a></h4>

    {% for presupuesto in context_presupuestos %}
    <div class= "card mb" style="width: 20rem; margin-left: 100px">
        <h4 class="card-header">
          <small>Número de Orden: {{ presupuesto.presupuesto.Número_de_orden }}</small>
        </h4>
        <div class="card-body">
          <ul>
              <li>Paciente: {{presupuesto.presupuesto.Paciente_Dni}}</li>
              <li>Fecha: {{presupuesto.presupuesto.Fecha|date:'d/M/Y'}}</li>
              <li>Tratamientos:</li>
              <ul>
                  <li>Tratamiento 1: {{presupuesto.presupuesto.Tratamiento_1}}</li>
                  <li>Tratamiento 2: {{presupuesto.presupuesto.Tratamiento_2}}</li>
                  <li>Tratamiento 3: {{presupuesto.presupuesto.Tratamiento_3}}</li>
              </ul>
              <li>Monto: {{presupuesto.presupuesto.Monto}}</li>
              <li>Saldo: {{presupuesto.saldo}}</li>
                  <ul> {% for i in presupuesto.números_de_comprobante %}
                      <li>Número de comprobante: {{ i }}</li>
                  {% endfor %}
                  </ul>   
          </ul>
          <h4 style="font-size: 1.0rem"><a href="{% url 'Cargas:editar_presupuestos' presupuesto.presupuesto.Número_de_orden %}">Editar presupuesto</a></h4>     
        </div>
      </div>
      
      {% empty %}
      <li>Agregar presupuesto.</li>
      {% endfor %}
  </div>

<div style="flex: 1;">
<h2 style="color:  #199ccc">Cobranzas</h2>

<h4 style="font-size: 1.2rem"><a style="color: #8e9294;font-weight: bold; margin-left: 135px" href="{% url 'Cargas:carga_cobranzas' %}">Agregar cobranza</a></h4>
{% for item in context_cobranzas %}
 <div class= "card mb" style="width: 20rem;  margin-left: 130px;">
  <h4 class="card-header">
    <small>
        Número de comprobante: {{ item.cobranza.Número_de_comprobante}}</small>
  </h4>
 <div class="card-body">
    <ul> {% for valor in item.presupuestos %}
        <li>Número de orden: {{ valor }}</li>
        {% endfor %}
        <li>Fecha de cobro: {{ item.cobranza.Fecha_de_cobro|date:'d/M/Y' }}</li>
        <li>Cuánto pagó: {{ item.cobranza.Cuánto_pagó }}</li>
    </ul>
  </div>
  <h4 style="font-size: 1.0rem"><a href="{% url 'Cargas:editar_cobranzas' item.cobranza.Número_de_comprobante %}">Editar cobranza</a></h4> 
 </div>
    {%empty%}
    <li>Agregar cobranza.</li>
    {% endfor %}
 </div>
</div>
{% endblock content %}

