{% extends "Cargas/base.html" %}
{% block content %}
<div style="display: flex;">
  <div style="flex: 1;">
    <p>Presupuestos</p>
    {% for presupuesto in presupuestos %}
    <div class= "card mb">
        <h4 class="card-header">
          <small>Número de Orden: {{ presupuesto.Número_de_orden }}</small>
        </h4>
        <div class="card-body">
          <ul>
              <li>Paciente: {{presupuesto.Paciente_Dni}}</li>
              <li>Fecha: {{presupuesto.Fecha|date:'d/M/Y'}}</li>
              <li>Tratamientos:</li>
              <ul>
                  <li>Tratamiento 1: {{presupuesto.Tratamiento_1}}</li>
                  <li>Tratamiento 2: {{presupuesto.Tratamiento_2}}</li>
                  <li>Tratamiento 3: {{presupuesto.Tratamiento_3}}</li>
              </ul>
              <li>Monto: {{presupuesto.Monto}}</li>
              <li>Saldo: {{saldo}}</li>
                  <ul> {% for i in números_de_comprobante %}
                      <li>Número de comprobante: {{ i }}</li>
                  {% endfor %}
                  </ul>   
          </ul>
        </div>
      </div>  
      {% empty %}
      <li>Agregar presupuesto.</li>
      {% endfor %}
      <a href="{% url 'Cargas:carga_presupuestos' %}">Agregar presupuesto</a>
  </div>

<div style="flex: 1;">
<p>Cobranzas</p>

{% for item in context_list %}
 <div class= "card mb">
  <h4 class="card-header">
    <small>
        Número de comprobante: {{ item.cobranza.Número_de_comprobante}}</small>
  </h4>
 <div class="card-body">
    <ul> {% for valor in item.presupuestos %}
        <li>Número de orden: {{ valor }}</li>
        {% endfor %}
        <li>Fecha de cobro: {{ item.cobranza.Fecha_de_cobro|date:'d/M/Y' }}</li>
        <li>Cuánto pagó: {{ item.cobranza.Cuánto_pagó }}</li>
    </ul>
        </div>
 </div>
    {%empty%}
    <li>Agregar cobranza.</li>
    {% endfor %}
    <a href="{% url 'Cargas:carga_cobranzas' %}">Agregar cobranza</a>
 </div>
</div>
{% endblock content %}

