<!--Este archivo de la de formato específico a la página Secciones -->

{% extends "Cargas/base.html" %}

{% block page_header %}
    <h1 >Seleccionar sección:</h1>

{% endblock page_header %}


{% block content %}
<section id="secciones">
<div class="container">
<h2 style="color: #199ccc">Seleccionar sección:</h2>
<h3 style="color: var(--bs-gray-400); margin-bottom: 50px;">Dentro de cada sección se pueden consultar y agregar datos.</h3>
<div class="d-flex flex-wrap row justify-content-start">
  <div class="list-group list-group-checkable d-flex border-0">
    <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios1" value="">
    <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios1" onclick="window.location='{% url 'Cargas:pacientes' %}'">
      Pacientes
      <span class="d-block small opacity-50">Carga y consulta de información de pacientes</span>
    </label>
  </div>

  <div class="list-group list-group-checkable d-flex border-0">
    <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios2" value="">
    <label class="list-group-item rounded-3 py-3 px-0" for="listGroupCheckableRadios2" onclick="window.location='{% url 'Cargas:presupuestos_y_cobranzas' %}'">
      Presupuestos y Cobranzas
      <span class="d-block small opacity-50">Carga y consulta de información de presupuestos y cobranzas</span>
    </label>
  </div>

  <div class="list-group list-group-checkable d-flex border-0">
    <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios3" value="">
    <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3" onclick="window.location='{% url 'Cargas:tratamientos' %}'">
      Tratamientos
      <span class="d-block small opacity-50">Carga y consulta de información de tratamientos propios y tratamientos según Obras Sociales y Prepagas</span>
    </label>
  </div>
</div>
</div>
</section>
{% endblock content %}

