<!--Este archivo de la de formato específico a la página Secciones -->

{% extends "Cargas/base.html" %}

{% block page_header %}
    <h4>Seleccionar sección:</h4>

{% endblock page_header %}


{% block content %}
<h4>Seleccionar sección:</h4>
<h4>Consulta de datos</h4>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-left">
        <div class="list-group list-group-checkable d-grid gap-2 border-0">
          <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios1" value="" >
          <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios1" onclick="window.location='{% url 'Cargas:pacientes' %}'">
            Pacientes
            <span class="d-block small opacity-50">With support text underneath to add more detail</span>
          </label>
      
          <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios2" value="">
          <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios2" onclick="window.location='{% url 'Cargas:presupuestos' %}'">
            Presupuestos, Cobranzas y Saldos
            <span class="d-block small opacity-50">Some other text goes here</span>
          </label>
      
          <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios3" value="">
          <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3" onclick="window.location='{% url 'Cargas:cobranzas' %}'">
            Cobranzas
            <span class="d-block small opacity-50">And we end with another snippet of text</span>
          </label>
      
          <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios4" value="" disabled>
          <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios4">
            Fourth disabled radio
            <span class="d-block small opacity-50">This option is disabled</span>
          </label>
        </div>
      </div>

    
        {% endblock content %}

